* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100%;
}

.menu-btn {
  color: #424144;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.navbar {
  padding: 20px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0%;
  z-index: 999;
  background-color: #6e3fb5;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.9);
}

.navbar .logo h1 {
  color: #424144;
  border-bottom: 4px solid #d9b227;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  display: block;
  margin-left: 20px;
  color: #424144;
  border-bottom: 4px solid transparent;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.navbar .menu li .active {
  border-bottom: 4px solid #d9b227;
}

.navbar .menu li a i {
  color: #d9b227;
}

.navbar .menu li a:hover {
  border-bottom: 4px solid #d9b227;
}

.content {
  background-image: url(images/gyal.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #d9b227;
  height: 100vh;
}

.content h1 {
  font-size: 40px;
}

.content p {
  font-size: 20px;
  margin-top: 20px;
}

.content button {
  margin-top: 30px;
  padding: 15px 30px;
  border: none;
  background: #d9b227;
  color: black;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.pheading {
  text-align: center;
  margin: 50px 0;
  color: #d9b227;
}

.sec {
  padding: 10px 5%;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.products .card {
  width: 310px;
  background: #f5f5f5;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 20px;
}

.products .card img {
  height: 250px;
  width: 100%;
}

.products .card .desc {
  padding: 5px 20px;
  opacity: 0.8;
}

.products .card .title {
  font-weight: 900;
  font-size: 20px;
  color: #424144;
  padding: 0 20px;
}

.products .card .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.products .card .box .price {
  color: #d9b227;
  font-size: 20px;
  font-weight: bold;
}

.products .card .box .btn {
  font-size: 13px;
  color: #d9b227;
  padding: 10px 18px;
  font-weight: 900;
  border: 1px solid #d9b227;
  border-radius: 20px;
}

.products .card .box .btn:hover {
  cursor: pointer;
  background-color: #d9b227;
  color: white;
}

.paragraph {
  font-family: "Times New Roman", Times, serif;
  margin: 20px;
}

.paragraph p {
  line-height: 40px;
}

.paragraph h1 {
  display: inline;
  width: 20px;
  margin: 40px;
}

.next-to {
  text-indent: 300px;
  display: inline;
}

.four-square {
  width: 500px;
  height: 500px;
  margin: 55px;
  border-radius: 25px;
}

.graphing {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
}

.founder {
  margin: 25px;
  text-align: center;
}

.middle {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}
